@import "tailwindcss";

@font-face {
  font-family: 'BEAUSANS';
  src: local('PF Beau Sans Pro Black'), local('PF-Beau-Sans-Pro-Black'),
    url('/fonts/PFBEAUSANS/PFBeauSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BEAUSANS';
  src: local('PF Beau Sans Pro'), local('PF-Beau-Sans-Pro'),
    url('/fonts/PFBeauSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'BEAUSANS';
  src: local('PF Beau Sans Pro BBook'), local('PF-Beau-Sans-Pro-BBook'),
    url('/fonts/PF-Beau-Sans-Pro-BBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'BEAUSANS';
  src: local('PF Beau Sans Pro Bold'), local('PF-Beau-Sans-Pro-Bold'),
    url('/fonts/PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}


@theme {
  --font-display: "beauSans", "sans-serif";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.4);
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.beausans {

}